body {
  font-family: sans-serif;
}

.header,
.nav,
.left,
.middle,
.right,
.footer {
  padding: 20px;
  background: #ccc;
  margin: 10px;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-content {
    flex-direction: row;
  }

  .left,
  .middle,
  .right {
    flex: 1;
  }
}
